@model DenemeIdentitiy.Models.RegistrationDocument

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Bu Kaydı Silmek İstiyor Musunuz ?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Compost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fertilizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fertilizer)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
